#BackgroundColor {
	color: white;
	background: black;
	text-align: center;
}

#Space {
	color: white;
	text-align: center;
}

#Chategory {
	text-align: center;
	color: white;
	background: black;
}

#align {
	text-align: center;
}